<% provide(:title, 'All Users') %>
<% provide(:class_text, 'user--edit') %>
<% provide(:button_text, '編集する') %>
<h1><%= @page_title %></h1>

<div class="search">
  <%= form_with url:'/users', method: :get, local: true do |f| %>
    <%= f.label :user_search, "ユーザー名検索", class: "label-search" %>
    <%= f.text_field :user_search, class: "form-search" %>
    <%= f.submit "検索", class: "btn-search btn-primary" %>
  <% end %>
</div>

<div>
<%= form_tag import_users_path, multipart: true do %>
  <%= file_field_tag :file %><br>
  <%= submit_tag "CSVをインポート", class: 'btn btn-primary' %>
<% end %> 
</div>

<div class="col-md-10 col-md-offset-1">
  <%= will_paginate %>
    <table class="table table-condensed table-hover" id="table-users">
      <thead>
        <tr>
          <th><%= User.human_attribute_name :name %></th>
          <th></th>
        </tr>
      </thead>

      <tbody>
      <% @users.each do |user| %>
        <!-- 現在のユーザー以外を一覧表示する -->
        <% unless user == current_user %>
          <tr>
            <td><%= link_to user.name, user %>
              <% if current_user.admin? && !current_user?(user) %><br> 
                |<%= link_to "削除", user, method: :delete, 
                        data: { confirm: "削除してよろしいですか？" },class: "btn btn-primary" %>
                <div class="accordion" id="accordionUserEdit">
                  <div class="card">
                    <div class="card-header" id="heading<%= user.id %>">
                      <h5 class="mb-0">
                        <button class="btn btn-lg btn-primary collapsed" type="button" data-toggle="collapse" data-target="#collapse<%= user.id %>" aria-expanded="false" aria-controls="collapse<%= user.id %>">
                          編集
                        </button>
                      </h5>
                    </div>
                    <div id="collapse<%= user.id %>" class="collapse" aria-labelledby="heading<%= user.id %>" data-parent="#accordionUserEdit">
                      <div class="card-body">
                        <div class="row">
                          <%= render 'form_admin' , user: user %>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              <% end %> 
            </td>
          </tr>
        <% end %>
      <% end %>
      </tbody>
    </table>
 
  <%= will_paginate %>
</div>
