<% provide(:title, @user.name) %>
  <!-- tr:Table Row	表の行  th:Table Header	表の見出しセル td:Table Data	表のデータセル	 -->
  <!--rowspan:縦結合、colspan：横結合-->
<div>
  <table class="table table-bordered table-condensed user-table">
    <tr>
      <td><%= link_to "←", user_path(date: @first_day.prev_month), class: "btn btn-xs btn-primary" %>
          <%= l(@first_day,format: :middle) %>
          時間管理表
          <%= link_to "→", user_path(date: @first_day.next_month), class: "btn btn-xs btn-primary" %>
          </td>
      <td>
        指定勤務開始時間 <%= l(@user.designated_work_start_time, format: :time) %><br>
        指定勤務終了時間 <%= l(@user.designated_work_end_time, format: :time) %>
      </td>
      
      <td colspan="3">基本時間 <%= format_basic_info(@user.basic_work_time) %> </td>
      <td>初日　<%= l(@first_day, format: :short) %></td>
    </tr>

    <tr>
      <td>所属　<%= @user.affiliation.present? ? @user.affiliation : "未所属" %></td>
      <td>名前　<%= @user.name %></td>
      <td>コード</td>
      <td></td>
      <td>出勤日数　<%= @worked_sum %>日</td>
      <td>締め　<%= l(@last_day, format: :short) %></td>
    </tr>
  </table>
</div>
<%= link_to "勤怠を編集", attendances_edit_user_path(date: @first_day), class: "btn btn-primary" %>
<!--<!%= link_to "週間表示", user_show_one_week_path(current_user, date: @first_day_of_week), class: "btn btn-primary" %>-->

<div>
  <table class="table table-bordered table-condensed table-hover" id="table-attendances">
    <thead>
      <tr>
        <th rowspan = "2">日付</th>
        <th rowspan = "2">曜日</th>
        <th rowspan = "2">勤怠登録</th>
        <th colspan = "2">出社</th>
        <th colspan = "2">退社</th>
        <th rowspan = "2">在社時間</th>
        <th rowspan = "2">備考</th>
      </tr>
      <tr>
        <th>時</th>
        <th>分</th>
        <th>時</th>
        <th>分</th>
      </tr>
    </thead>
<!-- -->
    <tbody>
      <% @attendances.each do |day| %>
        <tr>
          <td><!-- 日付 -->
            <%= l(day.worked_on, format: :short) %>
          </td>
          <td class="<%= "wday#{day.worked_on.wday}"%>"><!-- 曜日 -->
            <%= $days_of_the_week[day.worked_on.wday] %>
          </td>
          <td><!-- 勤怠登録ボタン-->
            <% if btn_text = attendance_state(day) %>
              <%= link_to "#{btn_text}", user_attendance_path(@user, day), method: :patch, class: "btn btn-primary btn-attendance" %>
            <% end %>
          </td>
          <td><!-- 出社ー時間 -->
            <%= l(day.started_at, format: :hour) if day.started_at.present? %>
          </td>
          <td><!-- 出社ー分 -->
            <%= every_15_minutes(day.started_at) if day.started_at.present? %>
          </td>
          <td><!-- 退社ー時間 -->
            <%= l(day.finished_at, format: :hour) if day.finished_at.present? %>
          </td>
          <td><!-- 退社ー分 -->
            <%= every_15_minutes(day.finished_at) if day.finished_at.present? %>
          </td>
          <td><!-- 在社時間-->
            <% if day.started_at.present? && day.finished_at.present? %>
              <%= str_times = working_times(day.started_at, day.finished_at) %>
              <% @total_working_times = @total_working_times.to_f + str_times.to_f %>
            <% end %>
          </td>
          <td><!-- 備考 -->
            <%= day.note %>
          </td>
        </tr>
      <% end %>
    </tbody>
    
    <tfoot>
      <td colspan = "2"><!-- 総合勤務時間 -->
      <%= basic_work_times_sum(@user.basic_work_time, @worked_sum) %>
      </td>
      <td colspan = "5"><!-- 空白 -->
      </td>
      <td><!-- 合計在社時間 -->
        <%= @total_working_times %>
      </td>
      <td><!-- 空白 -->
      </td>
    </tfoot>
    
  </table>
</div>