<% provide(:title, @user.name) %>
  <!-- tr:Table Row	表の行  th:Table Header	表の見出しセル td:Table Data	表のデータセル	 -->
  <!--rowspan:縦結合、colspan：横結合-->
<div>
  <table class="table table-bordered table-condensed user-table">
    <tr>
      <td><%= link_to "←", user_path(date: @first_day.prev_month), class: "btn btn-xs btn-primary" %>
          <%= l(@first_day,format: :middle) %>
          時間管理表
          <%= link_to "→", user_path(date: @first_day.next_month), class: "btn btn-xs btn-primary" %>
          </td>
      <td>
        指定勤務開始時間 <%= l(@user.designated_work_start_time, format: :time) %><br>
        指定勤務終了時間 <%= l(@user.designated_work_end_time, format: :time) %>
      </td>
      
      <td colspan="3">基本時間 <%= format_basic_info(@user.basic_work_time) %> </td>
      <td>初日　<%= l(@first_day, format: :short) %></td>
    </tr>

    <tr>
      <td>所属　<%= @user.affiliation.present? ? @user.affiliation : "未所属" %></td>
      <td>名前　<%= @user.name %></td>
      <td>コード</td>
      <td></td>
      <td>出勤日数　<%= @worked_sum %>日</td>
      <td>締め　<%= l(@last_day, format: :short) %></td>
    </tr>
  </table>
</div>

<%
=begin%>
 <%= link_to "【所属長承認申請のお知らせ】#{@monthly_requests.count}件の通知があります", "#", remote: true %><br> 
<%
=end%>


<%= link_to "【所属長承認申請のお知らせ】#{@monthly_requests.count}件の通知があります", edit_user_monthly_request_path(@user), remote: true %><br>




<%= link_to "【勤怠変更申請のお知らせ】○件の通知があります", "#", remote: true %><br>
<%= link_to "【残業申請のお知らせ】○件の通知があります", "#", remote: true %><br>
<%= link_to "勤怠を編集", attendances_edit_user_path(date: @first_day), class: "btn btn-primary" %>
<!--<!%= link_to "週間表示", user_show_one_week_path(current_user, date: @first_day_of_week), class: "btn btn-primary" %>-->

<div>
  <table class="table table-bordered table-condensed table-hover" id="table-attendances">
    <thead>
      <tr>
        <th rowspan = "3">残業申請</th>
        <th rowspan = "3">日付</th>
        <th rowspan = "3">曜日</th>
        <th colspan = "7">実績</th>
        <th colspan = "5">所定外勤務</th>
      </tr>

      <tr>
        <th rowspan = "2">勤怠登録</th>
        <th colspan = "2">出社</th>
        <th colspan = "2">退社</th>
        <th rowspan = "2">在社時間</th>
        <th rowspan = "2">備考</th>
        <th colspan = "2">終了予定時間</th>
        <th rowspan = "2">時間外時間</th>
        <th rowspan = "2">業務処理内容</th>
        <th rowspan = "2">指示者確認㊞</th>
      </tr>


      <tr>
        <th>時</th>
        <th>分</th>
        <th>時</th>
        <th>分</th>
        <th>時</th>
        <th>分</th>
      </tr>
    </thead>
<!-- -->
    <tbody>
      <% @attendances.each do |day| %>
        <tr>
          <td><!-- 残業申請ボタン -->
            <%= link_to "残業申請", "#", remote: true, class: "btn btn-primary" %>
          </td>
          <td><!-- 日付 -->
            <%= l(day.worked_on, format: :short) %>
          </td>
          <td class="<%= "wday#{day.worked_on.wday}"%>"><!-- 曜日 -->
            <%= $days_of_the_week[day.worked_on.wday] %>
          </td>
          <td><!-- 勤怠登録ボタン-->
            <% if btn_text = attendance_state(day) %>
              <%= link_to "#{btn_text}", user_attendance_path(@user, day), method: :patch, class: "btn btn-primary btn-attendance" %>
            <% end %>
          </td>
          <td><!-- 出社ー時間 -->
            <%= l(day.started_at, format: :hour) if day.started_at.present? %>
          </td>
          <td><!-- 出社ー分 -->
            <%= every_15_minutes(day.started_at) if day.started_at.present? %>
          </td>
          <td><!-- 退社ー時間 -->
            <%= l(day.finished_at, format: :hour) if day.finished_at.present? %>
          </td>
          <td><!-- 退社ー分 -->
            <%= every_15_minutes(day.finished_at) if day.finished_at.present? %>
          </td>
          <td><!-- 在社時間-->
            <% if day.started_at.present? && day.finished_at.present? %>
              <%= str_times = working_times(day.started_at, day.finished_at) %>
              <% @total_working_times = @total_working_times.to_f + str_times.to_f %>
            <% end %>
          </td>
          <td><!-- 備考 -->
            <%= day.note %>
          </td>
          <td><!-- 所定外勤務終了予定ー時間 --></td>
          <td><!-- 所定外勤務終了予定ー分 --></td>
          <td><!-- 時間外時間 --></td>
          <td><!-- 業務処理内容 --></td>
          <td><!-- 指示者確認㊞ --></td>
        </tr>
      <% end %>
    </tbody>
    
    <tfoot>
      <td colspan = "1"><!-- 総合勤務時間 -->
      <%= basic_work_times_sum(@user.basic_work_time, @worked_sum) %>
      </td>
      <td colspan = "2"><!-- 空白 -->
      </td>
      <td colspan="5"><!-- 合計在社時間 -->
        <%= @total_working_times %>
      </td>
      <td colspan="1"><!-- 空白 --></td>
      <td colspan="5"><!-- 空白 --></td>
      <td colspan="1"><!-- 1ヶ月分の勤怠を上長へ申請 -->
        <br>
        <%
=begin%>
上長選択
 <%= select :column, @上長.pluck(:name)%> 
<%
=end%>

  <% if @monthly_request.state == "なし" %>
    所属長承認：未
  <% elsif @monthly_request.state == "申請中" %>
    所属長承認：<%= @monthly_request.requested.name %>に申請中
  <% elsif @monthly_request.state == "承認" %>
    所属長承認：<%= @monthly_request.requested.name %>から承認済
  <% else @monthly_request.state == "否認" %>
    所属長承認：<%= @monthly_request.requested.name %>から否認
  <% end %>


 
 <%
=begin%>
 <%= form_with(model: @user, url: user_monthly_request_path(@user, date: @first_day), local: true, method: :patch) do |f| %>
    <%= f.fields_for @monthly_request, local: true do |mr| %>

 <%= mr.collection_select :requested_id, @superiors, :id, :name %> 

 <%= hidden_field_tag :state, "申請中" %>  

    <% end %>
    <%= f.submit "申請", class: "btn btn-lg btn-primary" %>
  <% end %>  
<%
=end%>

 


 <%
=begin%>
 <%= form_with(model: @monthly_request, url: user_monthly_request_path(@user, date: @first_day), local: true, method: :patch) do |f| %>  
<%
=end%>


<%= form_with(model: @monthly_request, url: user_monthly_request_path(@monthly_request, date: @first_day), local: true, method: :patch) do |f| %>

<%= f.text_field :name, class: "form-control" %>
<%= f.collection_select :requested_id, @superiors, :id, :name %>





 <%
=begin%>
 <%= f.select :state, ["申請中"] %>    
<%
=end%>




 <%
=begin%>
 最終的にはこれを採用する
 <%= f.hidden_field :state, :value => "申請中" %> 
<%
=end%>


 <%= f.submit "申請", class: "btn btn-lg btn-primary" %>
      <% end %> 




      </td>



    </tfoot> 

    
  </table>


<%
=begin%>
試しに表示できた
 <% @monthly_requests.each do |requ| %>
  <%= requ.requester.name %>
<% end %> 
<%
=end%>



<div>

</div>






















</div>

<% @monthly_requests.each do |monthly_request| %>
  <td>申請者：<%= monthly_request.requester.name %></td>
  <td>申請先<%= monthly_request.requested.name %></td>
  <td>状態：<%= monthly_request.state %></td>
  <td>状態：<%= monthly_request.request_month %></td><br>
<% end %>

<td>-----------------------</td>
<td>：<%= @monthly_request.request_month %></td>

  <td>申請先：<%= @monthly_request.requested.name %>:<%= @monthly_request.state%></td>
  <%= @monthly_request.id %>

<!-- モーダルウインドウ表示 未実装
<div id="edit-modaltest" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
-->

<div id="edit-monthly-request" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
