<% provide(:class_text, 'basic-info') %>
<% provide(:button_text, '更新') %>

<div class="modal-dialog modal-lg modal-dialog-center">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <h1 class="modal-title">残業申請</h1>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
        <%= form_with(model: @attendance, url: user_overtime_requests_path, local: true, method: :post) do |f| %>
        <table class="table table-bordered table-condensed user-table">
          <thead>
            <tr>
              <th>日付</th>
              <th>曜日</th>
              <th>終了予定時間</th>
              <th>翌日</th>
              <th>業務処理内容</th>
              <th>指示者確認㊞</th>
            </tr>
          </thead>

          <tbody>      
            <%= f.fields_for @overtime_request do |of| %>     
            <tr>


              <%
=begin%>
 <td><%= l(@overtime_request.overtimed_on, format: :short) %></td>
              <td class="<%= "wday#{@overtime_request.overtimed_on.wday}"%>"><!-- 曜日 -->
                <%= $days_of_the_week[@overtime_request.overtimed_on.wday] %>
              </td>
              <td><%= over_f.time_select :end_scheduled_at %></td>  
<%
=end%>
              <td><%= of.time_select :end_scheduled_at %></td>
              <td><%= @overtime_request.overtimed_on %></td>
              <td>4</td>
              <td>4</td>
              <td>5</td>
              <td>6</td>
            </tr>
            <% end %>
          </tbody>

          <tfoot>
            
          </tfoot>
      
        </table>
         <%= f.submit "送信" %>
           <% end %>

        </div>
      </div>
    </div>
  </div>
</div>