<% provide(:title, @user.name) %>

<%= form_with model: @attendances, url: user_attendance_edit_requests_path, local: true do |form| %>
<div>
  <h1>勤怠編集画面</h1>

  <table class="table table-bordered table-condensed table-hover" id="table-attendances">
    <thead>
      <tr>
        <th>日付</th>
        <th>曜日</th>
        <th>出社</th>
        <th>退社</th>
        <th>翌日</th>
        <th>在社時間</th>
        <th>備考</th>
        <th>指示者確認㊞</th>
      </tr>
    </thead>

    <tbody>
    <% @attendances.each do |day| %>
      <%= fields_for 'attendance_edit_requests[]', day do |f| %>
        <tr>
          <!-- 出社日 -->
          <td><%= l(day.worked_on, format: :short) %></td>
          <!-- 出社曜日 -->
          <td class="<%= "wday#{day.worked_on.wday}"%>"><%= $days_of_the_week[day.worked_on.wday] %></td>
          <% if Date.current < day.worked_on %><!-- 本日より先の日付のフォームは編集不可のものを表示させる。（disabledまたはreadonly: trueで編集を不可にする）-->
            <!-- 出社時間 -->
            <td><%= f.time_field :started_at, readonly: true, class: "form-control" %></td>
            <td><%= f.time_field :finished_at, readonly: true, class: "form-control" %></td>
            <!-- 翌日 requested_idと入力しているのはtomorrowではエラーが出たため適当な名称を割り当て。使用不可のフォームなので何でも良いかと。-->
            <td><%= f.check_box 'requested_id',{disabled: true},  {checked: false}  %></td>
            <!-- 在社時間 -->
            <td><!-- 空白 --></td>
            <td><%= f.text_field :note, class: "form-control", readonly: true %></td>
            <td><%= f.collection_select :requested_id, @superiors_other_then_myself, :id, :name, {include_blank: true}, disabled: true %></td>
          <% else %><!-- 本日よりも前の日付の入力フォーム -->
            <!-- 出社時間・退社時間・在社時間は上長に否認された場合でも残るようにしている。申請前の表示にするには編集する必要あり。（勤怠編集画面では否認された場合は変更申請前の時間を表示させている） -->
            <!-- 出社時間 -->
            <% if attendance_edit_request(day).present? && attendance_edit_request(day).started_at.present? %>
              <td><%= f.time_field :started_at, value: l(attendance_edit_request(day).started_at, format: :time), class: "form-control" %></td>
            <% else %>
              <td><%= f.time_field :started_at, class: "form-control" %></td>
            <% end %>
            <!-- 退社時間 -->
            <% if attendance_edit_request(day).present? && attendance_edit_request(day).finished_at.present? %>
              <td><%= f.time_field :finished_at, value: l(attendance_edit_request(day).finished_at, format: :time), class: "form-control" %></td>
            <% else %>
              <td><%= f.time_field :finished_at, class: "form-control" %></td>
            <% end %>
            <!-- 翌日 -->
            <% if attendance_edit_request(day).present? && (attendance_edit_request(day).finished_at.day > attendance_edit_request(day).started_at.day) %>
              <!-- 退社時間が出社時間の翌日の場合はチェックを入れた状態で表示させる -->
              <td><%= f.check_box 'tomorrow', {checked: true}  %></td>
            <% else %><!-- 退社時間が出社時間と同日の場合はチェックをはずした状態で表示させる -->
              <td><%= f.check_box 'tomorrow', {checked: false}  %></td>
            <% end %>
            <!-- 在社時間 -->
            <td>  
              <%= str_times = request_working_time(day, attendance_edit_request(day)) %>
            </td>
            <!-- 備考 -->
            <td><%= f.text_field :note, class: "form-control" %></td>
            <!-- 指示者確認 -->
            <% if attendance_edit_request(day).present? && (attendance_edit_request(day).state == "申請中" || attendance_edit_request(day).state == "承認" || attendance_edit_request(day).state == "否認") %>
              <!-- すでに申請されている場合、選択肢に上長の名前が入力されている -->
              <td><%= f.collection_select :requested_id, @superiors_other_then_myself, :id, :name, selected: attendance_edit_request(day).requested_id, include_blank: true %></td>
            <% else %>
              <!-- 未申請の場合、選択肢に空白が選択されている -->
              <td><%= f.collection_select :requested_id, @superiors, :id, :name, include_blank: true %></td>
            <% end %>
          <% end %>
        </tr>
               <% end %>
      <% end %>
    </tbody>
  </table>
</div>

          </tr>
  <div class="actions">
    <%= link_to "キャンセル", users_path , class: "btn btn-lg btn-primary"%>
    <%= form.submit "まとめて更新", class: "btn btn-lg btn-primary" %>
  </div>

<% end %>